name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: '2.7'
            rails: '6.1'
          - ruby: '3.0'
            rails: '6.1'
          - ruby: '3.0'
            rails: '7.0'
          - ruby: '3.1'
            rails: '6.1'
          - ruby: '3.1'
            rails: '7.0'
          - ruby: '3.1'
            rails: '7.1'

    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/ruby_${{ matrix.ruby }}_rails_${{ matrix.rails }}.gemfile

    name: Ruby ${{ matrix.ruby }} / Rails ${{ matrix.rails }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Install dependencies
      run: |
        bundle install --jobs 4 --retry 3

    - name: Run tests
      run: bundle exec rake test

    - name: Check dependency compatibility
      run: bundle outdated --strict || true
